*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    
    background-color: #0B2434;
}
/* ----- game component ----- */
.game{
    margin-top: 100px;
    width: 400px;
    height: 400px;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    background-color: #F5F5F5;
}
.dice--one{
    margin-top: 20px;
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 20px;
}
/* ------ dice component ----- */
.dice{
    height: 50px;
    width: 50px;
    font-size: 20px;
    background-color: white;
    box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.4);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}